@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700');

html {
  box-sizing: border-box;
  margin:0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color:rgb(244,244,244);
  background-size:cover;
  font-family: 'Oswald', sans-serif;
}

#card {
  width:450px;
  height:700px;
  background-color:white;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#navigation {
  margin-top:50px;
  margin-left:50px;
  margin-right:50px;
}

#back {
  width:28px;
  float:left;
}

#search {
  width:40px;
  float:right;
  padding-top:4px;
}

#photo {
  width:120px;
  display:block;
  margin:0 auto;
  margin-top:89px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  border-radius:100px;
  margin-bottom:0.7em;
}

#water-club-text {
  color:rgba(105,105,105,1);
  font-size:25px;
  letter-spacing: 2px;
  font-weight:400;
  position:absolute;
  left:132px;
}

#table {
  opacity:0.6;
  font-size:20px;
  font-weight:200;
  letter-spacing: 0.8px;
  text-align:center;
  padding-left:3px;
  padding-top:90px;
  margin-bottom:0px;
}

#counter {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width:100px;
  margin-left:160px;
  height:100px;
}

#num {
  margin-top:0px;
  font-size:60px;
  opacity:0.4;
}

#plus {
  padding-left:30px;
  padding-top:10px;
  margin-top:0px;
  font-size:50px;
}

#minus {
  padding-right:30px;
  margin-top:0px;
  font-size:60px;
  line-height:82px;
  vertical-align:center,
}

#choose-date{
  font-weight:200;
  letter-spacing: 2px;
  text-align:center;
  padding-left:8px;
  font-size:15px;
}

#date-picker{
  text-align:center;
  font-size:20px;
  padding-left:8px;
  margin-top:0px;
  margin-bottom:40px;
}

button {
  position: absolute;
  left: 22%;
  height:60px;
  width:270px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  background-color:rgb(71,72,80);
  letter-spacing: 1px;
  border:none;
}
